
  .section-first .marginizer {
    margin-top: 80px;
  }
  .section-first {
    margin-bottom: 30px;
  }
  @media only screen and (min-width: 700px) {
    .section-first {
      margin-bottom: 130px;
    }
    .section-first .marginizer {
      margin-bottom: 80px;
      margin-top: 160px;
    }
  }

